annoy
chess
gTTS
kivy
Cython
metaphone
numpy
num2words
# Optional
# openai
# openai-whisper
pyautogui
pydub
plyer
psutil
pyparsing
pyaudio
rapidfuzz
simpleaudio
soundfile
SpeechRecognition
wget
word2number
